body { color: white; font-size: 12px; font-family: Arial, SunSans-Regular, sans-serif; }
p { }
td { }
a:link { color: white; }
a:visited { color: white; }
a:hover { color: yellow; }
a:active { color: white; }
