<div style="position:absolute;top:123px;left:0px;width:147px;">
	<a onmouseover="changeImages('home','/images/home-over.gif');return true" onmouseout="changeImages('home','/images/home.gif');return true" href="/index.html"><img id="home" src="/images/home.gif" alt="Home" name="home" height="22" width="147" border="0" /></a>
	<a onmouseover="changeImages('neon','/images/neon-over.gif');return true" onmouseout="changeImages('neon','/images/neon.gif');return true" href="/pages/neon-signs.html"><img id="neon" src="/images/neon.gif" alt="Neon" name="neon" height="23" width="147" border="0" /></a>
	<a onmouseover="changeImages('visual','/images/visual-over.gif');return true" onmouseout="changeImages('visual','/images/visual.gif');return true" href="/pages/Visual Merchandising.html"><img id="visual" src="/images/visual.gif" alt="Visual Merchandising" name="visual" height="22" width="147" border="0" /></a>
	<a onmouseover="changeImages('leds','/images/leds-over.gif');return true" onmouseout="changeImages('leds','/images/leds.gif');return true" href="/pages/led-signs.html"><img id="leds" src="/images/leds.gif" alt="LEDs" name="leds" height="22" width="147" border="0" /></a>
	<a onmouseover="changeImages('bulbsigns','/images/bulbsigns-over.gif');return true" onmouseout="changeImages('bulbsigns','/images/bulbsigns.gif');return true" href="/pages/bulb-signs.html"><img id="bulbsigns" src="/images/bulbsigns.gif" alt="Bulb Signs" name="bulbsigns" height="23" width="147" border="0" /></a>
	<a onmouseover="changeImages('electroprops','/images/electroprops-over.gif');return true" onmouseout="changeImages('electroprops','/images/electroprops.gif');return true" href="/pages/electro-props.html"><img id="electroprops" src="/images/electroprops.gif" alt="Electro Props/Sign Hire" name="electroprops" height="24" width="147" border="0" /></a>
	<a onmouseover="changeImages('mirror','/images/mirror-over.gif');return true" onmouseout="changeImages('mirror','/images/mirror.gif');return true" href="/pages/Mirror Balls and Sculptures.html"><img id="mirror" src="/images/mirror.gif" alt="Mirror Balls/Sculptures" name="mirror" height="24" width="147" border="0" /></a>
	<a onmouseover="changeImages('architectural','/images/architectural-over.gif');return true" onmouseout="changeImages('architectural','/images/architectural.gif');return true" href="/pages/architectural-signs.html"><img id="architectural" src="/images/architectural.gif" alt="Architectural Signs" name="architectural" height="21" width="147" border="0" /></a>
	<a onmouseover="changeImages('vinyl','/images/vinyl-over.gif');return true" onmouseout="changeImages('vinyl','/images/vinyl.gif');return true" href="/pages/vinyl-graphics.html"><img id="vinyl" src="/images/vinyl.gif" alt="Vinyl Graphics" name="vinyl" height="22" width="147" border="0" /></a>
	<a onmouseover="changeImages('signsystems','/images/signsystems-over.gif');return true" onmouseout="changeImages('signsystems','/images/signsystems.gif');return true" href="/pages/sign-systems.html"><img id="signsystems" src="/images/signsystems.gif" alt="Sign Systems/Plaques" name="signsystems" height="24" width="147" border="0" /></a>
	<a onmouseover="changeImages('awnings','/images/awnings-over.gif');return true" onmouseout="changeImages('awnings','/images/awnings.gif');return true" href="/pages/awnings-banners.html"><img id="awnings" src="/images/awnings.gif" alt="Awnings/Banners" name="awnings" height="21" width="147" border="0" /></a>
	<a onmouseover="changeImages('coldcathode','/images/coldcathode-over.gif');return true" onmouseout="changeImages('coldcathode','/images/coldcathode.gif');return true" href="/pages/cold-cathode.html"><img id="coldcathode" src="/images/coldcathode.gif" alt="Cold Cathode" name="coldcathode" height="23" width="147" border="0" /></a>
	<a onmouseover="changeImages('traditional','/images/traditional-over.gif');return true" onmouseout="changeImages('traditional','/images/traditional.gif');return true" href="/pages/traditional-signs.html"><img id="traditional" src="/images/traditional.gif" alt="Traditional" name="traditional" height="22" width="147" border="0" /></a>
	<a onmouseover="changeImages('maintenance','/images/maintenance-over.gif');return true" onmouseout="changeImages('maintenance','/images/maintenance.gif');return true" href="/pages/maintenance.html"><img id="maintenance" src="/images/maintenance.gif" alt="Maintenance" name="maintenance" height="23" width="147" border="0" /></a>
	<a onmouseover="changeImages('fascia','/images/fascia-over.gif');return true" onmouseout="changeImages('fascia','/images/fascia.gif');return true" href="/pages/fascia-projecting.html"><img id="fascia" src="/images/fascia.gif" alt="Fascia &amp; Projecting" name="fascia" height="21" width="147" border="0" /></a>
	<a onmouseover="changeImages('gallery','/images/gallery-over.gif');return true" onmouseout="changeImages('gallery','/images/gallery.gif');return true" href="/pages/gallery.html"><img id="gallery" src="/images/gallery.gif" alt="Gallery" name="gallery" height="23" width="147" border="0" /></a>
	<a onmouseover="changeImages('contactus_','/images/contactus--over.gif');return true" onmouseout="changeImages('contactus_','/images/contactus-.gif');return true" href="/pages/contact-us.html"><img id="contactus_" src="/images/contactus-.gif" alt="Contact Us" name="contactus_" height="21" width="147" border="0" /></a>
</div>
